<!--{{ 5+ 6 }} <br>
{{title}}
<br>
{{getTitle()}}
{{title + title}} 

<input type="checkbox" value="male" [checked]="trueValue">
<input type="checkbox" value="male" [checked]="getStatus()">
<input type="checkbox" value="male" [checked]="trueValue && !trueValue">
-->

<!--<app-event-binding></app-event-binding>-->

<!--<app-safe-navigating></app-safe-navigating>-->
<!--<app-directives></app-directives>-->
<!--<app-switch></app-switch>-->
<!--<app-ng-class></app-ng-class>-->
<app-ng-style></app-ng-style>



